extends layout

block content
  div(ng-app="formulird", ng-controller="formulirController")

    .page.loader-wrapper(ng-show="showLoader", ng-cloak)
      .loader
        h1 FormulirD
        img(src="/resources/images/loader.gif")

    .page(ng-show="showApplication", ng-cloak) content

block script
  script(src="/resources/js/app/application.js")