doctype html
html
  head
    title= title
    link(rel='stylesheet', href='resources/css/style.css')
    link(rel='stylesheet', href='resources/css/material.min.css')
  body
    block content
    script(src="/resources/js/angular.min.js")
    script(src="/resources/js/app/httpInterceptor.js")
    script(src="/resources/js/material.min.js")
    block script